<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/metadata :: metadata}"></head>

<body id="body">
<div th:replace="~{fragments/header :: header}"></div>

<!-- Main Menu Section -->
<div th:replace="~{fragments/navigation :: navigation}"></div>

<section class="empty-cart page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
        	<i class="tf-ion-ios-cart-outline"></i>
          	<h2 class="text-center">Your cart is currently empty.</h2>
          	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, sed.</p>
          	<a href="shop.html" class="btn btn-main mt-20">Return to shop</a>
      </div>
    </div>
  </div>
</section>

<div th:replace="~{fragments/footer :: footer}"></div>

<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>
